@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
    --main-background-color: rgb(244, 244, 244);
    --main-font-color: rgb(13, 33, 79);
}

html {
    height: 100%;
    width: 100%;
}
  
  body {
    height: 100%;
    width: 100%;
  
    margin: 0;
    padding: 0;
}

#main-container {
    width: 100%;
    height: 100%;
  
    display: grid;
    grid-template-rows: 1fr 6fr;
    font-family: 'Pacifico', cursive;
}
  
#header-game
{
    width: 100%;
    
    background-color: var(--main-background-color);
    
    border-bottom: solid 5px rgb(219, 138, 147);

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--main-font-color);
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive;
    
}

#header-game iconify-icon
{
    font-size: 50px;
}

#principal-screen
{
    background-image: url("backscreen.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
}

#information-home-container
{
    display: flex;
    flex-direction: column;
    color: var(--main-font-color);
}

#title-home-information
{
    font-size: 30px;
}

#player-home-container
{
    display: flex;
    flex-direction: column;
    
    font-size: 30px;
}

#player-home-container input
{
    background-color: var(--main-background-color);
    
    border-radius: 10px;

    font-family: 'Pacifico', cursive;
    font-size: 30px;   
}

#exit-button
{
    position: fixed;
    
    top: 50px;
    left: 40px;

    background-color: rgba(255, 255, 255, 0);    
    
    color: red;
    font-size: 30px;
    text-align: center;

    border: solid 2px red;
    border-radius: 50px;

    cursor: pointer;

}

#exit-button:hover
{
    font-size: 40px;
}

.myButton
{
    margin: 30px;

    align-self: center;

    background-color: var(--main-background-color);

    font-family: 'Pacifico', cursive;
    border: solid 10px rgb(219, 138, 147);
    border-radius: 10px;

    font-size: 30px;

    cursor: pointer;
}

.myButton:hover
{
    transform: translateY(5px);
    font-size: 40px;
}

#players-game-container
{
    width: 25%;
    height: 80%;

    display: flex;
    flex-direction: column;
    
    color: var(--main-font-color);

    background-color: rgba(246, 224, 54, 0.897);
    
    font-size: 2rem;
    text-align: center;
}

#players-game-container h2
{
    margin: 0;
}

#players-game-container .player
{
    display: flex;
    justify-content: space-evenly;
}

#players-game-container iconify-icon
{
    margin-top: 20px;
}

#game-screen
{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-board
{
    border: solid 4px black;
    width: 450px;
    height: 450px;
}

#game-board .row
{
    height: 33.33%;
    width: 100%;

    display: flex;

    border-bottom: 1px solid black;
}

#game-board .column
{
    height: 100%;
    width: 100%;

    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#game-board .column iconify-icon
{
    font-size: 100px;
}

@media (min-width: 1800px)
{
    .player
    {
        font-size: 50px;
    }
    #players-game-container
    {
        font-size: 55px;
    }

}

@media (min-width: 1800px)
{
    #game-board
    {
        width: 700px;
        height: 700px;
    }
}

@media (min-width: 2100px)
{
    #game-board
    {
        width: 900px;
        height: 900px;
    }
}